<div id="<%= dom_id comment %>">
  <div>
    <strong>Body:</strong>
    <p>
    <%= comment.body %>
    </p>
  </div>

  <div>
    <strong>User:</strong>
    <%= comment.user.display_name %>
  </div>

</div>
