<h1>Articles</h1>

<section id="articles">
  <% @articles.reverse.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</section>

  <%= render 'article_list', locals: { articles: @articles } %>

<nav>
<%= link_to "New article", new_article_path %>
</nav>
