<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new comment in your article <strong><%= @comment.article.title %></strong> was made.</h1>

    <h2><%= @comment.user.display_name %></h2>
    <h3><%= @comment.body %></h3>
  </body>
</html>
